<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wasteType</key>
		<string>eWaste</string>
		<key>name</key>
		<string>Cigarette</string>
		<key>identifier</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>bioWaste</string>
		<key>name</key>
		<string>Rotten grapes</string>
		<key>identifier</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>eWaste</string>
		<key>name</key>
		<string>Big bones</string>
		<key>identifier</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>plasticWaste</string>
		<key>name</key>
		<string>Fluorescent tubes</string>
		<key>identifier</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>bioWaste</string>
		<key>name</key>
		<string>Rotten grapes</string>
		<key>identifier</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>bioWaste</string>
		<key>name</key>
		<string>Watermelon rind</string>
		<key>identifier</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>plasticWaste</string>
		<key>name</key>
		<string>Nail Polish</string>
		<key>identifier</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>plasticWaste</string>
		<key>name</key>
		<string>Thermometers</string>
		<key>identifier</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>plasticWaste</string>
		<key>name</key>
		<string>Plastic bottles</string>
		<key>identifier</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>eWaste</string>
		<key>name</key>
		<string>Batteries</string>
		<key>identifier</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>wasteType</key>
		<string>eWaste</string>
		<key>name</key>
		<string>Glass jars</string>
		<key>identifier</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
